* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image:url(images/vintagetable21.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	/*margin-top: 200px;
	background-size: 350px 350px;
	background-position:center;*/
}

h1 {
	color: #E1DDDD;
	font-family: Norican, script;
	font-size: 100px;
	text-shadow: -5px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.teaflower {width:70px;}

p {
	font-family: Ubuntu, sans-serif;
	font-size: 30px;
	color: #fff;
	background: #781414;
}

header {
	text-align:center;
	margin-top:300px;
	position:center;
}

	
