/* body {
	text-align: center;
	background-image: url(images/stripes3.png), url(images/background3.jpg);
	background-repeat: repeat-x, no-repeat;
	background-position: left top, right top;
	color: white
} */
body {
	background-image: url(images/background3.jpg);
	background-size: cover;
	color:white;
}
hr {
	width: 200px;	
}
p {
	font-size: 22px;
}
.topBanner {
	background:url(images/stripes3.png) repeat-x;
	height:13px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
