body {
	text-align: center;
	background: url(images/background3.jpg)
	background-image: url(images/stripes3.png)
	background-size: cover;
	background-position: center;
	color: white

}
hr {
	width: 200px	
}
p {
	font-size: 22px;
}
